@font-face {
  font-family: "ALS Schlange sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("ALS Schlange sans Regular");
  src: url(../../fonts/alsschlangesans.woff2) format("woff2");
  src: url(../../fonts/alsschlangesans.woff) format("woff");
}

@font-face {
  font-family: "ALS Schlange sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("ALS Schlange sans Bold");
  src: url(../../fonts/alsschlangesans-bold.woff2) format("woff2");
  src: url(../../fonts/alsschlangesans-bold.woff) format("woff");
}

@font-face {
  font-family: "ALS Schlange sans";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local("ALS Schlange sans Black");
  src: url(../../fonts/alsschlangesans-black.woff2) format("woff2");
  src: url(../../fonts/alsschlangesans-black.woff) format("woff");
}
